* {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FDFDFD;
    color: #2C3E50;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

h2 {
    color: #2C3E50;
    position: relative;
    z-index: 2;
    /* Текст будет выше изображения */
    font-size: 20px;
    text-align: center;
}

nav {
    background-color: #F7DC6F;
}

.navbar-brand {
    background-color: #F7DC6F;
    color: #2C3E50;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.about,
.resume,
.qualifications,
.services,
.faq,
.pricing,
.contacts {
    padding-top: 120px;
    background-color: #FDFDFD;
}

.title {
    position: relative;
    padding-top: 1px;
    padding-left: 12px;
    text-align: center;
    font-weight: bold;
}

.title:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #f7dd70;
    z-index: -1;
    top: -25%;
    left: 50%;
    text-align: center;
}

.main-text {
    padding: 5px;
    margin-top: 200px;
    margin-left: 500px;
    text-align: center;
}

.main__title {
    color: #f1ecda;
    font-size: 40px;
    margin: 30px;
    text-shadow: 4px -4px 5px rgba(0, 0, 0, 0.5);
}

.main__subtitle {
    color: #f1ecda;
    font-size: 36px;
    text-shadow: 4px -4px 5px rgba(0, 0, 0, 0.5);
}

.main_btn,
.main__link {
    cursor: pointer;
    margin-top: 30px;
    margin-right: 10px;
    height: 45px;
    background: #F7DC6F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 11px 25px 12px 25px;
    border: none;
    border-radius: 50px;
    color: #2C3E50;
    text-decoration: none;
}

.main-header {
    background-image: url(./img/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}

.about__wrapper {
    display: grid;
    grid-template-columns: 470px 590px;
    grid-template-rows: minmax(245px, auto);
    grid-auto-rows: minmax(245px, auto);
    column-gap: 70px;
    row-gap: 40px;
}

.about__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.about__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 21px;
    position: relative;
    z-index: 2;
    /* Текст будет выше изображения */
    font-size: 20px;
    /* Настройте размер текста */
    color: #2C3E50;
}

.about__descr {
    padding-top: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* Добавлено для вертикальной компоновки */
    justify-content: flex-start;
    /* Изначально текст будет в начале */
    height: 100%;
}

.about_icon {
    margin-top: 300px;
    margin-left: 50%;
    width: 250px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Настройте ширину */
    height: auto;
    /* Настройте высоту, если нужно */
    z-index: 1;
    /* Изображение будет под текстом */
    opacity: 0.5;
    /* Необязательно: добавляет прозрачность для лучшей читаемости текста */
}

.navbar-brand {
    font-family: "Marck Script", cursive;
    font-size: 26px;
}

.resume__subtitle {
    text-align: center;
}

.resume__wrapper {
    padding: 60px 65px 0 65px;
    display: grid;
    grid-template-columns: repeat(2, 425px);
    column-gap: 135px;
}

.resume__column-title {
    position: relative;
    padding-left: 35px;
    text-align: center;
}

.resume__column-title:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f7dd70;
    border-radius: 100%;
    left: 25px;
    top: 55%;
    transform: translateY(-50%);
}

.resume__column ul {
    list-style-type: none;
}

.resume__column ul li {
    position: relative;
}

.resume__column ul li:after {
    content: '';
    width: 1px;
    height: calc(100% + 16px);
    position: absolute;
    top: -16px;
    left: 0;
    background-color: #000;
}

.resume__item {
    position: relative;
}

.resume__item:before {
    content: '';
    height: 1px;
    width: 45px;
    position: absolute;
    top: 68px;
    background-color: #000;
}

.resume__item-head {
    position: relative;
    padding: 45px 0 0 100px;
}

.resume__item-head h4 {
    margin-bottom: 0;
}

.resume__item-body {
    padding-left: 43px;
    margin-top: 12px;
    font-size: 12px;
    line-height: 18px;
}

.resume__item-icon {
    position: absolute;
    top: 50px;
    left: 45px;
}

.resume__item-icon:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #f7dd70;
    /* z-index: -1; */
    top: -25%;
    left: 0;
}

.resume__item-icon img {
    position: absolute;
    left: 17px;
    top: 14px;
}

.resume__item-location {
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
}


/* карточки */

.services_wrapper {
    /* align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center; */
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 360px;
    gap: 10px;
}

.cta {
    /*  background: #333; */
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    height: 360px;
    overflow: hidden;
    position: relative;
    width: 300px;
    &:hover {
        .services_img {
            top: -10%;
            filter: brightness(70%);
        }
        .services_descr {
            bottom: 0;
        }
    }
    .services_img {
        bottom: 0;
        filter: brightness(100%);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.5s ease-in-out;
        width: 90%;
    }
    .services_descr {
        bottom: -40%;
        padding: 15px;
        position: absolute;
        transition: 0.5s ease-in-out;
    }
    .services_title {
        color: #2C3E50;
        display: inline-block;
        font-weight: 300;
        margin-bottom: 5px;
        position: relative;
    }
    .services_text {
        color: #2C3E50;
        font-weight: 300;
    }
}

.title_fz14 {
    font-size: 14px;
    line-height: 21px;
}


/* 
.title_fz16 {
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.title_fz20 {
    font-style: 20px;
    line-height: 30px;
}

.title_fz36 {
    font-style: 36px;
}

.title_fz48 {
    font-size: 48px;
    color: #000;
} */


/* Карусель */


/* Стили для карусели */

#scene {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
}

#left-zone {
    width: 45%;
}

#carousel {
    position: relative;
}

.carousel-item {
    display: none;
    width: 100%;
    border-radius: 30px;
}

.carousel-item.active {
    display: block;
}

#right-zone {
    width: 45%;
}

#diploma-list {
    list-style: none;
    padding: 0;
}

#diploma-list li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#diploma-list li.active {
    background-color: #BFDBE6;
}

#diploma-text {
    margin-top: 20px;
    font-size: 20px;
}


/* раздел вопрос ответ */

.faq-items {
    margin-top: 60px;
}

.faq-item {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.answer {
    display: none;
    margin-top: 10px;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}


/* Цены */

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.price-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #2C3E50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* Кнопка фиксируется внизу карточки */
}

.price-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.price-card h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #2C3E50;
    text-align: center;
}

.price {
    font-size: 1.8em;
    color: #2a9d8f;
    margin-bottom: 10px;
}

.description {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
    flex-grow: 1;
    /* Растягивает описание */
}

.btn-signup {
    display: inline-block;
    padding: 10px 20px;
    background-color: #BFDBE6;
    color: #2C3E50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    align-self: center;
    /* Центрует кнопку */
    margin-top: auto;
    /* Двигает кнопку вниз */
}

.btn-signup:hover {
    background-color: #f7dd70;
}

.contacts {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    /*   background-color: #f9f9f9; */
}

.contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 20px;
}

.contacts__photo {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contacts__descr {
    flex: 1 1 55%;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contacts__title {
    margin-bottom: 10px;
    color: #333;
}

.contacts__subtitle {
    margin-bottom: 15px;
    color: #222;
}

.contacts__text {
    margin-bottom: 20px;
    color: #555;
}

.contacts__social {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.contacts__link img {
    width: 32px;
    height: 32px;
}

.contacts__social {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.contacts__link img {
    width: 25px;
    height: 25px;
}

.feedback-input {
    font-family: Helvetica, Arial, sans-serif;
    color: #BFDBE6;
    font-size: 18px;
    line-height: 22px;
    padding: 10px;
    border: 1px solid white;
    border-bottom: 1px dotted #BFDBE6;
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.submit-button {
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    background-color: #BFDBE6;
    color: #2C3E50;
    font-size: 24px;
    margin: 25px 0 30px 0;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 25px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

textarea {
    height: 180px;
    line-height: 150%;
}

.submit-button:hover {
    background-color: #f7dd70;
    border: none;
    color: #2C3E50;
    font-weight: 300;
}

.definition {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 10px solid #2C3E50;
    border-radius: 10px;
    background: #BFDBE6;
    color: #2C3E50;
    position: absolute;
}

.definition:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 70%;
    top: 100px;
    border: 25px solid;
    border-color: #BFDBE6 transparent transparent #BFDBE6;
}

.name_def {
    width: 180px;
    top: 40%;
    left: 7%;
}

.email_def {
    width: 120px;
    top: 45%;
    left: 75%;
}

.message_def {
    width: 190px;
    top: 17%;
    left: 67%;
}

.feedback-input:focus {
    outline: none;
}

@media only screen and (max-width: 710px) {
    .name_def {
        left: 40%;
    }
    .email_def {
        left: 15%;
    }
    .message_def {
        left: 42%;
    }
}