@import url('./block/about.css');
@import url('./block/main.css');
@import url('./block/resume.css');
@import url('./block/services.css');
@import url('./block/faq.css');
@import url('./block/price.css');
@import url('./block/contacts.css');
* {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FDFDFD;
    color: #2C3E50;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 100px 30px 0px 30px;
}

h2 {
    color: #2C3E50;
    position: relative;
    font-size: 20px;
    text-align: center;
}

.title {
    position: relative;
    padding-top: 1px;
    padding-left: 12px;
    text-align: center;
    font-weight: bold;
}

.title:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #f7dd70;
    z-index: -1;
    top: -25%;
    left: 50%;
    text-align: center;
}

.title_fz14 {
    font-size: 14px;
    line-height: 21px;
}

.title_fz16 {
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.title_fz36 {
    font-style: 36px;
}

.pageup {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    scroll-behavior: smooth;
    img {
        width: 100%;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.web_developer,
.police {
    color: #aaa;
    font-size: 14px;
}

.policy {
    margin: 20px;
    padding: 0 15px 0 15px;
    text-align: start;
}

h4,
h5 {
    text-align: center;
    margin: 16px;
}

.policy__points {
    margin: 16px;
    text-align: start;
}

@media (max-width: 768px) {
    .container {
        padding: 80px 30px 0px 30px;
    }
}