/* карточки */

.services_wrapper {
    /* align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center; */
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cta {
    background-color: #fff;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 250px;
    &:hover {
        .services_img {
            /* top: -80%; */
            width: 100px;
        }
        .services_descr {
            bottom: 45px;
        }
    }
    .services_img {
        bottom: 0;
        filter: brightness(100%);
        left: 0;
        position: absolute;
        right: 0;
        top: 5%;
        transition: 0.5s ease-in-out;
        width: 70%;
    }
    /* Уменьшаем ширину изображения в 3-й карточке */
    .services_wrapper .cta:nth-of-type(3) .services_img {
        width: 60% !important;
        /* Устанавливаем ширину 60% для 3-й карточки */
    }
    /* Увеличиваем ширину изображения в 7-й и 8-й карточках */
    .services_wrapper .cta:nth-of-type(7) .services_img,
    .services_wrapper .cta:nth-of-type(8) .services_img {
        width: 10% !important;
        /* Устанавливаем ширину 80% для 7-й и 8-й карточек */
    }
    .services_descr {
        bottom: -10%;
        padding: 25px;
        position: absolute;
        transition: 0.5s ease-in-out;
    }
    .services_title {
        color: #2C3E50;
        display: inline-block;
        font-weight: 300;
        margin-bottom: 5px;
        position: relative;
    }
    .services_text {
        /* color: #2C3E50; */
        color: #666;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
}